<% include ./partials/header %>

    <div class="row">
        <h1 style="text-align: center">Account Creation Confirmed!</h1>
        <div style="width: 30%; margin: 25px auto;">
            <a href="/login">Login</a>
        </div>
    </div>

    <% include ./partials/footer %>