<% include ./partials/header %>

    <div class="row">
        <h1 style="text-align: center">Forgot Password?</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/forgot-password" method="post">
                <div class="form-group">
                    <input class="form-control" type="email" name="email" placeholder="Email">
                </div>
                <div class="form-group">
                    <div class="g-recaptcha" data-sitekey="6LdZaN8fAAAAAHfgn5M6TowRd_8tu6T9yMT4P3ae"></div><br>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Reset Password</button>
                </div>
            </form>
            <a href="/products">Go Back</a>
        </div>
    </div>

    <% include ./partials/footer %>